body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
	font-family: sans-serif;
	overflow-y:hidden;
	overflow-x:hidden;
}


#map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}


.leaflet-container { /*change background color*/
	z-index: 1;
    background: #000;

} 

#timeSeries {
	
	position: absolute;
	left:0;
	z-index: 2;
	margin-top: 70vh;
	width: 60vw;
	height: 30vh;
	opacity: .6;
	background-color: rgb(35, 35, 35);
	overflow-y: hidden; 
	overflow-x: hidden;  
}

#groupBarchart {
	position: absolute;
	z-index: 2;
	margin-top: 30vh;
	right: 0;
	width: 40vw;
	height: 70vh;
	opacity: .6;
	background-color: rgb(35, 35, 35);
}

#dataset {
	top: 1em;
	height: 0px; 
	z-index: 1; 
	position: absolute; 
	left: 20ch; 
    color: white;
	margin-left:10px;
	/* overflow-y: hidden;  */
	/* overflow-x: hidden;  */
	/* transform: translate(-7.6px, -4px); */
}


label {
  margin-right: 15px;
  line-height: 32px;
}

.axis {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


path.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis text {
    fill: #fff;
    stroke:none;
}

text {
    fill: #fff;
    stroke:none;
}
