html,body,#mapid{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}

.leaflet-container { /*change background color*/
	z-index: 1;
    background: #000;

} 

#date {
	bottom: 1em;
	height: 200px; 
	width: 1500px; 
	z-index: 2; 
	position: absolute; 
	opacity:.6;
	background-color: rgb(35, 35, 35); 
	right: 5ch; 
	overflow-y: hidden; 
	overflow-x: hidden; 
	/* transform: translate(-7.6px, -4px); */
}


#dataset {
	top: 1em;
	height: 0px; 
	z-index: 2; 
	position: absolute; 
	left: 20ch; 
    color: white;
	margin-left:10px;
	/* overflow-y: hidden;  */
	/* overflow-x: hidden;  */
	/* transform: translate(-7.6px, -4px); */
}

label {
  margin-right: 15px;
  line-height: 32px;
}

.axis {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


path.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis text {
    fill: #fff;
    stroke:none;
}

text {
    fill: #fff;
    stroke:none;
}